body {
  background-color: #fff;
  margin-top: 0;
  color: #000;
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
}
main {
  height: 95vh;
  overflow: hidden;
}

main .message {
  font-weight: lighter;
  font-size: 2vw;
}
