body {
  background-color: #fff;
  margin: 0;
  color: #000;
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}